<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sticky Navbar | CodingNepal</title>
    <link rel="stylesheet" href="static/closemail.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo"><a href="#">Drowsy</a></div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <!-- <li><a href="#">Services</a></li> -->
        <li><a href="contact.html">Contact</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="con">
      <div class="text">Let's keep you safe :)</div>
      <form method="POST" action="">
        <div class="field">
          {{ form.hidden_tag() }}
          <span class="fa fa-user"></span>
          <!-- <input type="text" placeholder="Your registered email" required> -->
          
          {{ form.email }}
        </div>
        <div class="field">
          <span class="fa fa-lock"></span>
          <!-- <input type="Close one's email" placeholder="Close one's email"> -->
          {{ form.closeemail}}
        </div>
          {{ form.submit }}
      </form>
    </div>
    <a href="{{ url_for('dashboard') }}">Home</a>

  </nav>
  
  
  
  <div class="banner"></div>
  </div>
  

  <script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbar");
    const menu = document.querySelector(".menu-list");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = ()=>{
      menu.classList.add("active");
      menuBtn.classList.add("hide");
      cancelBtn.classList.add("show");
      body.classList.add("disabledScroll");
    }
    cancelBtn.onclick = ()=>{
      menu.classList.remove("active");
      menuBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      body.classList.remove("disabledScroll");
    }

    window.onscroll = ()=>{
      this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }
  </script>


</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closemail</title>
</head>

<body>
    <h1>Forgot Password</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.email }}
        {{ form.closemail}}
        {{ form.otp }} -->
        <!-- {{ form.submit }}
    </form>

    <a href="{{ url_for('dashboard') }}">Home</a>
</body>

</html> -->